body{
    background-color: #E6E6EE;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pedido {
    margin-bottom: 20px;
    width: 1340px;
    color: #D05E26;
    font-size: 40px;
    text-align: start;
}
.pedido > * {
    padding: 15px 0;
}
.pedido .desc{
    font-size: 30px;
    opacity: 0.5;
}

.vacio{
    font-size: small;
}