main{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #D05E26;
}

h2{
    flex-basis: 1240px;
    font-size: 70px;
}

.container{
    flex-basis: 1240px;
    border: 2px solid #D05E26;
}

.form{
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: #D1D1E1;
    margin: 20px 10px;
    border: 1px solid rgba(208, 94, 38, 0.5);
}

button{
    font-size: 80px;
    text-align: left;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    border: none;
    color: #D05E26;
    background-color: #D1D1E1;
}

#categorias{
    border-bottom: 1px solid rgba(208, 94, 38, 0.5);
}

button:hover{
    background-color: #D05E26;
    color: white;
}