body{
    padding: 0;
    margin: 0;
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    font-weight: bold;
}

#container-menu{
    width: 100%;
    height: 110px;
    background-color: #625B7C;
    color: white;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

nav{
    width: 1400px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.elemento{
    width: 280px;
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none;
    color: white;
    font-size: 25px;

}

a:hover{
    background-color: #353144;
}

#usuario{
    background-color: #293E51;
    border-radius: 30px;
    font-size: 17px;
}

