body{
    background-color: #E6E6EE;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main > *{
    width: 1340px;
}
main > h2{
    color: #D05E26;
    font-size: 40px;
    border-bottom: #D05E26 solid 2px;
}

.numPed{
    color: #D05E26;
    font-size: 20px;
}

.pedido{
    margin-top: 30px;
}
.pedido h2 {
    padding: 10px;
    font-size: 20px;
    color: #D05E26;
    opacity: 0.5;
}

.header-datos{
    display: grid;
    grid-template-columns: 220px 860px 125px 135px;
    color: #D05E26;
    font-weight: 400;
}

.datos-pedido{
    margin-top: 5px;
    border: solid #D05E26 2px;
}

.item {
    display: grid;
    grid-template-columns: 220px 860px 125px 135px;
    font-weight: 400;
    align-items: center;
    justify-content: space-around;
    color: #D05E26;
}

.item .nombre {
    padding: 5px;
}

.peso + .unidades{
    text-align: center;
}

.impar {
    background-color: #F1F1F6;
}

.par {
    background-color: #D1D1E1;
}
