<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/menu.css">
    <title></title>
</head>
<body>
    <div class="container">
        <nav>
            <a href="">Mantenimiento</a>
            <a href="">Pedidos</a>
            <a href="">Suministros</a>
            <a href="">Cerrar Sesion</a>
        </nav>

        <span id="usuario">Iniciar Sesion</span>
        <!-- TODO Cambiar a .php cuando ya este maquetado -->
    </div>
</body>
</html>